
<div class="container about-section">
  <div class="row">
    <div class="col-md-2" ></div>
    <div class="col-md-4">
      <div class="img-about">
        <img class="img-fluid" src="https://vcosmusjoao.github.io/portfoliojoao/assets/img/profile.png" alt="">
      </div>
    </div>

    <div class="col-md-4 d-flex flex-column justify-content-start" >
      <div class="info-about">
        <h1>hello,</h1>
        <p>
          Olá, me chamo João Victor, tenho 24 anos e sou um Desenvolvedor Front-End. Atualmente trabalho em uma 
          fintech desenvolvendo softwares para sistemas de banco utilizando o Angular como tecnologia principal. 
          Também me arrisco no Back-end, desenvolvendo em Java (Spring) e também C# (.NET). Criei esse portfólio 
          com o intuíto de colocar em práticas meus conhecimentos e também poder divulgar os meus últimos projetos!!
        </p>
      </div>
      <button class="mt-auto">
        Download My Cv
      </button>
    </div>
    <div class="col-md-2" ></div>
  </div>
</div>