@import "~bootstrap/dist/css/bootstrap.css";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    background-color: #353535;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
  }

h1{
    font-size: 20px;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

p{
    color: white;
    font-family:'Roboto',sans-serif ;
    font-weight: 300;
    line-height: normal; 

}

.grid-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Defina as colunas */
  .grid-item {
    box-sizing: border-box;
    flex-basis: calc(100% / 8);
    max-width: calc(100% / 8);
    padding: 10px;
    background-color: transparent;
  }
  
  /* Limpe os estilos padrão do texto dentro das colunas */

  .clm-1 {
    flex-basis: calc(100% / 8);
    max-width: calc(100% / 8);
  }
  
  .clm-2 {
    flex-basis: calc(2 * 100% / 8);
    max-width: calc(2 * 100% / 8);
  }
  
  .clm-3 {
    flex-basis: calc(3 * 100% / 8);
    max-width: calc(3 * 100% / 8);
  }
  
  .clm-4 {
    flex-basis: calc(4 * 100% / 8);
    max-width: calc(4 * 100% / 8);
  }
  
  .clm-5 {
    flex-basis: calc(5 * 100% / 8);
    max-width: calc(5 * 100% / 8);
  }
  
  .clm-6 {
    flex-basis: calc(6 * 100% / 8);
    max-width: calc(6 * 100% / 8);
  }
  
  .clm-7 {
    flex-basis: calc(7 * 100% / 8);
    max-width: calc(7 * 100% / 8);
  }
  
  .clm-8 {
    flex-basis: calc(8 * 100% / 8);
    max-width: calc(8 * 100% / 8);
  }

  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  button {
    background-color: #AD5E2A;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    border: 1px solid #AD5E2A; /* Border com a mesma cor do fundo para simplicidade */
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    border-radius: 5px; /* Você pode ajustar esse valor conforme necessário */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);  /* Comentado para remover o efeito de sombra */
    margin-top:10px;
}