span {
  color: white;
  background-color: transparent;
}

.title {
  font-size: 6vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}



.subtitle {
  font-size: 3vw;
  margin-top: 10px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.header-container {
  position: relative;
  padding: 0;
  overflow: hidden;
}


.background-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover; /* A imagem cobrirá a área mantendo a proporção */
}

.header-info .title {
  position: absolute;
  bottom: 20vw;
  right: 50%;
  top:10vw;
  left:42%;
}

.header-info .subtitle {
  position: absolute;
  bottom: 18vw;
  right: 32%;
}



/* Media queries para ajustar o tamanho do texto em tamanhos de tela diferentes */
@media screen and (max-width: 768px) {
  .title {
      font-size: 8vw;
  }

  .subtitle {
      font-size: 3vw;

  }

  .header-info .title {
    bottom: 20vw;
    top:12vw;
  }
  .header-info .subtitle {
    bottom: 12vw;
    right: 30%;
  }
}

@media screen and (max-width: 414px) {
  .title {
      font-size: 8vw;
      margin-top: 5px;
  }

  .subtitle {
      font-size: 4vw;
      margin-bottom: 15px;
      bottom:10vw;
  }

  .header-info .title {
    bottom: 20vw;
    top:12vw;
  }
  .header-info .subtitle {
    bottom: 5vw;
    right: 25%;
  }
}