<div class="grid-container clm-8 centered">

    <div class="header-container">
        <img id="image" style="max-width: 100%;" src="../../assets/img/brooklin-bridge.png" alt="">
       <div class="texto">
            <div class="grid-item clm-8 centered">
                <span class="title">hello,</span>
            </div>
            <div class="grid-item clm-8 centered">
                <span class="subtitle">I Am a Front-End Developer</span>
            </div>
        </div>
    </div>

</div>





