<div class="container-fluid header-container ">
    <img class="background-image" src="../../assets/img/brooklin-bridge.png" alt="">
    <div class="texto">
        <div class="row">
            <div class="header-info">
                <div class="col-12">
                    <span class="title">hello,</span>
                </div>
                <div class="col-12">
                    <span class="subtitle">I Am a Front-End Developer</span>
                </div>

            </div>
        </div>
    </div>