
<div class="container about-section">
  <div class="row">
    <div class="col-md-2" ></div>
    <div class="col-md-4">
      <div class="img-about">
        <img class="img-fluid" src="../../assets/img/profile.png" alt="">
      </div>
    </div>

    <div class="col-md-4 d-flex flex-column justify-content-start" >
      <div class="info-about">
        <h1>hello,</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut mattis eros, ac imperdiet risus.
          Integer quis auctor lorem. Curabitur blandit ut nulla scelerisque aliquam. Mauris odio tellus, facilisis
          eu sodales sit amet, auctor id sapien. Aenean ut porttitor velit. Integer erat mi, convallis auctor neque
          eu, ullamcorper fringilla ipsum. Vestibulum vel ex ac nisi porttitor vulputate. In faucibus sodales nulla,
          non tristique nisi fermentum id. 
        </p>
      </div>
      <button class="mt-auto">
        Download My Cv
      </button>
    </div>
    <div class="col-md-2" ></div>
  </div>
</div>