<div class="about-section">
    <div class="grid-container">
      <div class="grid-item clm-1"></div>
      <div class="grid-item clm-3">
        <div class="img-about">
          <img style="max-width: 100%;" src="../../assets/img/profile.png" alt="">
        </div>
      </div>
  
      <div class="grid-item clm-3">
        <div class="info-about">
          <h1>hello,</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut mattis eros, ac imperdiet risus.
            Integer quis auctor lorem. Curabitur blandit ut nulla scelerisque aliquam. Mauris odio tellus, facilisis
            eu sodales sit amet, auctor id sapien. Aenean ut porttitor velit. Integer erat mi, convallis auctor neque
            eu, ullamcorper fringilla ipsum. Vestibulum vel ex ac nisi porttitor vulputate. In faucibus sodales nulla,
            non tristique nisi fermentum id. Vestibulum varius lorem non felis elementum, vel efficitur nisi dictum.
            Duis sit amet lacus nibh. Nullam pharetra, mauris eu pretium maximus, dui ex tincidunt est, quis dignissim
            nibh lectus in diam. Morbi ex nisl, maximus et dapibus vitae, luctus non nisi.
          </p>
        </div>
        <button>
          Download My Cv
        </button>
      </div>
      <div class="grid-item clm-1"></div>
    </div>
  </div>
  